
@font-face {
    font-family: cascadia;
    src: url(../Cascadia.ttf);
}

h3 {
    color: white;
    font-family: cascadia;
}
h1 {
    color: white;
    font-family: cascadia;
    font-weight: bold;
}
p {
    color: white;
    font-family: cascadia;
}
body {
    background-color: rgb(30, 30, 34);
    color: white;
    font-family: cascadia;
}
a {
    font-family: cascadia;
}
a:link {
    color: pink;
}
a:visited {
    color: pink;
}
a:hover {
    color: red;
}