
@font-face {
    font-family: cascadia;
    src: url(../Cascadia.ttf);
}

h3 {
    color: white;
    font-family: cascadia;
}
h1 {
    color: white;
    font-family: sans-serif;
    margin: 0;
    margin-top: 10px;
}
p {
    color: white;
    font-family: cascadia;
}
body {
    background-color: rgb(21, 21, 25);
    color: white;
    font-family: cascadia;
}
a:link {
    color: pink;
}
a:visited {
    color: pink;
}
a:hover {
    color: red;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}