@font-face {
    font-family: Font1942;
    src: url(assets/fonts/1942.ttf);
}

@font-face {
    font-family: reey;
    src: url(/assets/fonts/Reey-Regular.otf);
}

@font-face {
    font-family: cascadia;
    src: url(/assets/fonts/Cascadia.ttf);
}

h1 {
    color: white;
    font-family: reey;
}
h3 {
    color: white;
    font-family: sans-serif;
}
p {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}
body {
    background-color: rgb(21, 21, 25);
}
button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
}
a:link {
    color: pink;
}
a:visited {
    color: pink;
}
a:hover {
    color: red;
}

form {
    display: inline-block;
}
#container {
    width: 200px;
    height: 250px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#version {
    color: white;
    font-family: cascadia;
    font-size: 15px;

    position: absolute;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
