.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: ". ." ". ." ". ." ". .";
    grid-gap: 20px;
    padding: 0 20px 20px 20px;
    max-width: 1000px;
    margin: auto;
}

.photo img {
    width: 100%;
    display: block;
}

.photo {
    text-align: center;

}

.photo p {
    padding: 0 10px;
    margin-top: 10px;
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

figure img {
    transform: scale(1);
    transition: .3s ease-in-out;
}
figure:hover img {
    transform: scale(1.1);
}

