.content {
    text-align: center;
}

#image {
    width: 80%;
    max-width: 900px;
    margin-top: 50px;
}

#info {
    margin: 40px auto;
    width: 80%;
    max-width: 700px;
    font-size: 20px;
}