.container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    margin-bottom: 40px;
}

.row img {
    width: 300px;
    height: 200px;
}

.row div {
    margin-left: 20px;
}

.row:last-child {
    margin-bottom: 0;
}

h2, p {
    font-family: sans-serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}