:root {
    --color1: #fbbfca;
    --color2: #efe9ff;
}

* {
    margin: 0;
}

body {
    background-color: var(--color2);
}

.navbar {
    display: flex;
    background-color: black;
    font-family: sans-serif;
    font-size: 18px;
}

.navtitle {
    text-align: center;
    font-size: 23px;
    background-color: var(--color1);
    color: black;
    text-decoration: none;
    padding: 10px 35px;
    font-style: italic;
}

.navitem {
    text-align: left;
    padding: 14px 25px;
    background-color: black;
}

.navitem:link, .navitem:visited, .navitem:active {
    color: white;
    text-decoration: none;
}

.navitem:hover {
    text-decoration: underline;
    background-color: #363636;
    color: var(--color1);
}

.navtitle:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--color1);
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.footer #name {

}

.footer #quote {
    float: right;
}

.title {
    text-align: center;
    margin: 20px;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 18px;
}