#videos {
    text-align: center;
    margin: 0
}

#video1, #video2, #video3 {
    padding: 0 10px;
    width: 330px;
}

#yt-video {
    width: 95%;
    max-width: 1040px;
    margin-top: 30px;
}

p {
    padding-top: 10px;
}